@{
    ViewData["Title"] = "Home Page";
}


    <div class="card" style="width: 18rem;">
        <img src="model" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">dfgdfgdfg</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

