@model IEnumerable<QuizDataLibrary.Quiz>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="@item.QuizImg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.QuizName</h5>
            <p class="card-text">@item.Description</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}
